
<mat-card class="example-card" [ngClass]="{background: isOdd}">
  <mat-card-header (click)="product.isFavorite = !product.isFavorite" >
    <mat-icon *ngIf="product.isFavorite">star</mat-icon>
    <mat-card-title>{{product.name}} {{product.last_name}} </mat-card-title>
    <mat-card-subtitle>{{product.email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
  [routerLink]="['/backoffice', product.id]" >
  <mat-card-content>
    {{product.id | currency:'RUB': 'symbol-narrow'}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="adToCart()">ADD TO CART</button>
  </mat-card-actions>
</mat-card>
