<form class="card" [formGroup]="form">
  <h2>ENTER TO INFORMATION PANEL</h2>
  <div class="form-control">
    <label for="tel">Mobile phone:</label>
    <input
      (input)="onInput($event)"
      [value]="inputVal | casttel"
      formControlName="tel"
      id="tel"
      maxlength="14"
      type="text"
    />

    <div
      *ngIf="
        (form.get('tel').touched && form.get('tel').invalid) ||
        (res && form.get('tel').invalid)
      "
      class="validation"
    >
      <small *ngIf="form.get('tel').errors.required"
        >Enter your mobail phone</small
      >
      <small
        *ngIf="form.get('tel').errors.minlength"
        [ngPlural]="form.get('tel').errors.minlength.actualLength"
        >Phone number must be
        {{ form.get("tel").errors.minlength.requiredLength - 4 }}
        <ng-template ngPluralCase="=1">digit</ng-template>
        <ng-template ngPluralCase="other">digits.</ng-template>
      </small>
    </div>
  </div>

  <div id="recaptcha-container"></div>
  <div *ngIf="windowRef.confirmationResult">SMS Was Sent, Enter Here:</div>
  <div *ngIf="form.get('tel').valid && res">
    <label for="otp">Verification number:</label>
    <input
      type="text"
      name="otp"
      formControlName="otp"
      maxlength="6"
      class="form-control"
    />

    <button
      type="submit"
      [disabled]="otp.invalid"
      class="btn btn-dark"
      (click)="verifyOtp()"
    >
      VERIFY
    </button>

    <button class="btn btn-primary">CANCEL</button>
  </div>
</form>
<!-- <p *ngIf="form.get('tel').errors.restrictedPhones">YYYY</p> -->
<p>{{ inputVal }}</p>
